[submodule "third_party/cereal"]
	path = third_party/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "third_party/trade_api"]
	path = third_party/trade_api
	url = https://github.com/DuckDuckDuck0/trade_api.git
